<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hlkj.minbao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- camera -->
    <!--
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    -->


    <!-- 需要使用Feature -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <!-- 手机状态权限群组group:android.permission-group.PHONE -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 外部存储权限群组group:android.permission-group.STORAGE -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 摄像头权限群组group:android.permission-group.CAMERA -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 录音权限群组group:android.permission-group.MICROPHONE -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 定位权限群组group:android.permission-group.LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 短信权限群组group:android.permission-group.SMS -->
    <!-- 联系人权限群组group:android.permission-group.CONTACTS -->
    <!-- 日历权限群组group:android.permission-group.CALENDAR -->
    <!-- 传感器权限群组group:android.permission-group.SENSORS -->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".ui.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CommonAppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />
        <meta-data
            android:name="faceAppId"
            android:value="10990210" />
        <meta-data
            android:name="faceApiKey"
            android:value="4pxNQU4cvZq19C0ajsCPcuj6" />
        <meta-data
            android:name="faceSecretKey"
            android:value="aYyGUUNWn2iGLPZrM6HChE6dGKWx2RFD" />

        <activity
            android:name=".ui.activity.TestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonAPPTheme_FullScreen"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FaceLivenessExpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_NoTitle"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.TransportDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.TransportListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.WareHouseListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.BlastDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.GoodsReceiveListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.GoodsReceiveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.UseRegisterListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.UseRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.ProductRecordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.SuperviseRecordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".ui.activity.ReViewActivity" />
        <activity
            android:name=".ui.activity.SignatureActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CommonAPPTheme_FullScreen"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>